<!DOCTYPE html>
<!-- <td-cards ng-show="home.recipe"> -->
<div ng-show="recipe.show === 0">
  <ion-list>

    <ion-checkbox ng-repeat="i in recipe.content.ingredients | orderBy:'-'" ng-model="checked" ng-change="recipe.stateChanged(checked)">
      <div class="item item-text-wrap">
        {{i.name}}
      </div>
      <div class="item image">
        <img class="card-image" ng-src="{{i.img}}" alt="" />
      </div>

    </ion-checkbox>

    <button class="button button-positive button-full" ng-disabled="recipe.nextStep!==recipe.content.ingredients.length" ng-click="recipe.toNextStage()">
      Next step : Tools
    </button>
  </ion-list>
</div>
